<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header-transparent">

  <ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 class="title" color="coral" ion-text padding>Seja Grato</h1>
  <h2 class="subtitle-default" color="black" ion-text padding>
    Entre para o clube dos que praticam gratidão diariamente!
  </h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
    <ion-list padding>
      <ion-item class="item-input" [ngClass]="{'invalid': registerForm.get('email').errors && registerForm.get('email').errors.emailAlreadyUsed}">
        <ion-input type="email" placeholder="E-mail" formControlName="email"></ion-input>
      </ion-item>
      <span class="error-message" *ngIf="registerForm.get('email').errors && registerForm.get('email').errors.emailAlreadyUsed">E-mail já utilizado. Deseja recuperar sua senha?</span>
      <ion-item class="item-input" [ngClass]="{'invalid': registerForm.get('password').errors && registerForm.get('password').errors.weakPassword}">
        <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
      </ion-item>
      <span class="error-message" *ngIf="registerForm.get('password').errors && registerForm.get('password').errors.weakPassword">Senha fraca. Utilize números, símbolos e letras</span>
      <ion-item class="item-input" [ngClass]="{'invalid': registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').errors.validConfirmPassword, 'invalid': registerForm.get('password').errors && registerForm.get('password').errors.weakPassword}" >
          <ion-input type="password" placeholder="Repetir senha" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <span class="error-message" *ngIf="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').errors.validConfirmPassword" >Confirmação de senha deve ser igual a senha</span>
    </ion-list>
    <div padding>
      <button [disabled]="!registerForm.valid" ion-button type="submit" large color="coral" class="full-button">Cadastrar</button>
    </div>
  </form>
</ion-content>
