page-modal-message {
  .close-button {
    font-size: 25px;
  }
  .custom-text-area {
    .item-inner {
      font-size: 25px;
      border: none!important;
    }
    &.input-has-focus, &.item-input.ng-valid {
      .item-inner {
        border: none!important;
        box-shadow: none!important;
      }
    }
  }
  .bottom-bar {
    display: flex;
    background-color: $grey-light;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    flex-direction: row-reverse;
    & .button {
      margin: 0;
      text-transform: capitalize;
      width: 11.5rem;
      height: 4.5rem;
    }
  }
}
