<ion-header class="header-transparent">

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="closeModal()" icon-only>
        <ion-icon name="close" class="close-button"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item class="custom-text-area">
    <ion-textarea [(ngModel)]="message.texto" name="message" autosize placeholder="Hoje eu estou grato por..." autocomplete="off" rows="10"></ion-textarea>
  </ion-item>
  <div class="bottom-bar">
    <button [disabled]="!message.texto || message.texto.length < 10" ion-button color="coral"
    (click)="saveMessage()">
    <span *ngIf="!editMode" >Salvar</span>
    <span *ngIf="editMode" >Editar</span>
  </button>
  </div>
</ion-content>
